#map {
  height: 400px;
  width: 100%;
}
/* main content */
body {
  background-color: #293241;
}
/* nav bar at the top*/
header {
  background-color: #3d5a80;
}
.nav-bar {
  width: 100%;
  height: 90px;
  margin-bottom: 50px;
}
/* text in the nav bar */
.nav-bar #title {
  color: #e0fbfc;
  display: flex;
  border-bottom: 4px solid #ee6c4d;
  height: fit-content;
  border-top: 4px solid #ee6c4d;
  margin: 0;
  letter-spacing: 5px;
}

/* area that holds the lists and map */
.container {
  font-family: garamond;
  display: flex;
  align-items: center;
  color: #e0fbfc;
}

/* headers */
#searchWrap h1,
#mapCrimesList h1 {
  font-size: 30px;
  color: #98c1d9;
  text-decoration-line: underline;
  text-decoration-color: #3d5a80;
  text-decoration-thickness: 2px;
  padding-bottom: 10px;
}

#search {
  padding-left: 3px;
  border-color: #3d5a80;
  height: 30px;
}

/*search button */
#searchBtn {
  border: none;
  border-radius: 3px;
  padding: 0 3px;
  
}

#searchBtn:hover {
  background-color: #98c1d9;
  transform: scale(1.1);
}

#searchWrap {
  display: block;
  align-items: center;
}

#mapCrimesList h1 {
  display: flex;
  padding-top: 15px;
}

#mapSection {
  display: grid;
  justify-content: end;
  padding-right: 25px;
}
#map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 10px;
}

#searchWrap {
  display: block;
  align-items: center;
}

#mapCrimesList h1 {
  display: flex;
  padding-top: 15px;
}

#mapSection {
  display: grid;
  justify-content: end;
  padding-right: 25px;
}
#map {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #e0fbfc;
}
#mapCrimesList h1 {
  display: flex;
}

#searchBarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  #map {
    margin-left: 0px;
  }
  #nav-bar {
    padding-top: 12px;
  }
  .filterCrimeTypeContainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .filterCrimeTypeContainer input {
    margin-top: 7px;
  }
  #searchBarBtn {
    justify-content: left;
  }
}
