#map {
  height: 400px;
  width: 100%;
}
/* main content */
body {
  background-color: #293241;
}
/* nav bar at the top*/
header {
  background-color: #3d5a80;
}
.nav-bar {
  width: 100%;
  height: 90px;
  margin-bottom: 50px;
}
/* text in the nav bar */
.nav-bar #title {
  color: #e0fbfc;
  display: flex;
  border-bottom: 4px solid #ee6c4d;
  border-top: 4px solid #ee6c4d;
  height: fit-content;
  margin: 0;
}

/* area that holds the lists and map */
.container {
  font-family: garamond;
  display: flex;
  align-items: center;
  color:#e0fbfc;
}

/* headers */
#searchWrap h1,
#mapCrimesList h1 {
  font-size: 30px;
  color: #98c1d9;
  text-decoration-line: underline;
  text-decoration-color: #3d5a80;
  text-decoration-thickness: 2px;
  padding-bottom: 10px;
 
}

/*search button */
#searchBtn {
  margin-top: 7px;
  margin-bottom: 15px;
}

#searchWrap {
  display: block;
  align-items: center;
}

#mapCrimesList h1 {
  display: flex;
  padding-top: 15px;
}

#mapSection {
  display: grid;
  justify-content: end;
  padding-right: 25px;
}
#map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 10px;
}

#searchWrap {
  display: block;
  align-items: center;
}

#mapCrimesList h1 {
  display: flex;
  padding-top: 15px;
}

#mapSection {
  display: grid;
  justify-content: end;
  padding-right: 25px;
}
#map {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mapCrimesList h1 {
  display: flex;
}
/* 
trying to wrap text */
#ddvop {
  overflow-wrap: break-word;
}


h2 {
  color: #98c1d9;
  font-family: garamond;
  font-size: 55px;
  font-style: italic;
  margin-top: 100px;
  padding-left: 35px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ee6c4d;
}

h3, h4 {
  color:#e0fbfc;
  font-family: garamond;
  font-size: 30px;
  padding-left: 25px;
  border: 2px;
  border-color: #ee6c4d;

}

p {
  color: #e0fbfc;
  font-family: garamond;
  font-size: 20px;
  padding-left: 15px;
  border: 2px;
  border-color: #ee6c4d;
}